@{
    ViewBag.Title = "Home Page";
}

<style>
    .top-left {
        position: absolute;
        
        top: 70px;
        left: 30px;
        margin-left:50px;
    }
    .container-fluid1 {
        position: relative;
        text-align: center;
        color: white;
    } 
    .image_header{

       font-size:50px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight:600;
       line-height:1.3;
    }
    .image_header_we {
        position: absolute;
        top: 155px;
        left: 18px;
        margin-left: 10px;
        color:green;
        font-weight:800;
    }
     

</style>
  
     
      
<div class="container-fluid1">
    <div>
        <img src="~/Images/sl1.jpg"
             style="height:580px; width:100%" />
    </div>
    <div class="top-left ">
        <h3 class="image_header">
            <strong style="color:green">Secure</strong> your shop <br />
            virtually with us
        </h3>
        <hr style="width:5px; height:50px; color:green;" />
        <h3 class="image_header_we ">
            We Deliver
        </h3>


    </div>

   

</div>



     
 